

.solely-logo{
    width: 30px;
}

.solely-text{
    font-size: 16px;
    font-family: sans-serif;

}

.navbar {
    /* background-color: lightpink;  */
    box-shadow: none; 
    backdrop-filter: blur(4px) !important;
    -webkit-backdrop-filter: blur(4spx) !important;
    position: fixed !important;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.7) !important;
  }
  
  .toolbar {
    display: flex;
    justify-content: space-between;
  }
  
  .logo {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .solely-logo {
    margin-right: 10px;
    height: 40px; /* Adjust as needed */
  }
  
  .tabContainer {
    margin-left: auto;
  }
  
  /* Custom styles for Tab component */
  .MuiTab-root {
    color: black; /* Color of the text in Tabs */
    opacity: 0.8; /* Make it fully opaque */
  }
  
  /* Indicator color for selected tab */
  .MuiTabs-indicator {
    background-color: transparent; /* Set to transparent or the color you want */
  }
  